

.App {
  text-align: center;
}
.nav_place{
  margin-bottom: 10px;
  color:black;
}
.container{
  display: flex;
}

.nav_buttons {
  color: #4D5032;
  text-decoration: none;
  margin-left: -25px;
}
.nav_buttons:hover {
  color: blue;
  text-decoration: underline;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  overflow: auto;
  height: 400vh;
  font-family: "Lobster";
  margin-bottom: 50px;
}
.sections1 {
  font-family:"Lobster";
  margin-bottom:50px;
  padding: 0px 75px 0px 75px;
}
.Header {
  text-align:center;
  font-size: calc(10px + 4vmin);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #ebebeb;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lobster';
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0000FF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0%   { color: red; }
  50%  { color: yellow; }
  100% { color: green; }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
